*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
}

.container{
        max-width: 1220px;
        margin: 0 auto;
        color: red;
}


.btn{
        padding: 15px 25px;
        background-color: lime;
        color: #fff;
}